<li class="nav-item expandable">
    <a
      class="nav-link"
      href="/dashboard/actions/actions.html"
      id="calendar-nav"
      role="button"
      aria-expanded="false"
      data-target="#actions"
      data-toggle="collapse"
    >
      <i class="ni ni-calendar-grid-58 text-esg-two"></i>
      <span class="nav-link-text">Actions</span>
    </a>
    <div class="collapse" id="actions">
      <ul class="list-unstyled">
        <li>
          <a
            class="nav-link"
            href="/dashboard/actions/actions.html#calendar"
          >
            <span class="sidenav-mini-icon"> -c </span>
            <span class="sidenav-normal"> -calendar </span>
          </a>
        </li>
        <li>
          <a 
          class="nav-link" 
          href="/dashboard/actions/actions.html#todo">
            <span class="sidenav-mini-icon"> -t </span>
            <span class="sidenav-normal"> -todo </span>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            href="/dashboard/actions/actions.html#team-tasks"
          >
            <span class="sidenav-mini-icon"> -t </span>
            <span class="sidenav-normal"> -team tasks </span>
          </a>
        </li>
      </ul>
    </div>
  </li>