<li class="nav-item expandable">
  <a
    class="nav-link"
    href="/dashboard/actions/actions.html"
    id="actions-nav"
    role="button"
    aria-expanded="false"
    data-target="#analytics-nav"
    data-toggle="collapse" 
  >
    <i class="fa fa-pen text-esg-two"></i>
    <span class="nav-link-text"> Analytics </span>
  </a>
  <div class="collapse" id="analytics-nav">
    <ul class="list-unstyled">
      <li>
        <a
          class="nav-link"
          href="/dashboard/analytics/analytics.html#analytics-metrics"
        >
          <span class="sidenav-mini-icon"> -m </span>
          <span class="sidenav-normal"> -metrics </span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          href="/dashboard/analytics/analytics.html#analytics-risks"
        >
          <span class="sidenav-mini-icon"> -r </span>
          <span class="sidenav-normal"> -risks </span>
        </a>
      </li>
      
    </ul>
  </div>
</li>

<!-- <li class="nav-item">
    <a
      class="nav-link"
      href="/dashboard/analytics/analytics.html#analytics-metrics"
      id="reports-nav"
    >
      <i class="fa fa-pen text-esg-four"></i>
      <span class="nav-link-text">Analytics</span>
    </a>
  </li> -->
