<li class="expandable">
    <a
      class="nav-link"
      href="#"
      data-toggle="collapse"
      data-target="#risk-nav"
      role="button"
      aria-expanded="false"
    >
      <span class="sidenav-mini-icon"> E </span>
      <span class="sidenav-normal"> ESG Management </span>
    </a>
    <div class="collapse" id="risk-nav">
      <ul class="list-unstyled">
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/esg-management.html#overview"
          >
            <span class="sidenav-mini-icon"> -o </span>
            <span class="sidenav-normal"> -overview </span>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/esg-management.html#gaps"
          >
            <span class="sidenav-mini-icon"> -g </span>
            <span class="sidenav-normal"> -gaps </span>
          </a>
        </li>
      </ul>
    </div>
  </li>