<li class="nav-item expandable">
  <a
    class="nav-link"
    href="#reporting"
    data-toggle="collapse"
    role="button"
    aria-expanded="false"
    aria-controls="reporting"
    id="reporting-nav"
  >
    <i class="ni ni-paper-diploma text-esg-three"></i>
    <span class="nav-link-text">Reporting & Compliance</span>
  </a>

  <div class="collapse" id="reporting">
    <!--Gaps-->
    <section>
      <ul class="nav nav-sm flex-column">
        <li>
          <a
            class="nav-link"
            href="/dashboard/frameworks/overview.html#overview"
          >
            <span class="sidenav-mini-icon"> -o </span>
            <span class="sidenav-normal"> -overview </span>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/dashboard/frameworks/overview.html#gaps">
            <span class="sidenav-mini-icon"> -g </span>
            <span class="sidenav-normal"> -gaps </span>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/dashboard/company/regulators.html">
            <span class="sidenav-mini-icon"> R </span>
            <span class="sidenav-normal"> Regulators</span>
          </a>
        </li>
      
      </ul>
    </section>
    <!--Voluntary-->
    <section>
      <ul class="nav nav-sm flex-column">
        <li class="expandable">
          <a
            class="nav-link"
            href="#voluntary-nav"
            data-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="voluntary-nav"
          >
            <span class="sidenav-mini-icon"> V </span>
            <span class="sidenav-normal"> Voluntary </span>
          </a>

          <div class="collapse" id="voluntary-nav">
            <ul class="list-unstyled">
              <li>
                <a class="nav-link" href="/dashboard/frameworks/sasb.html">
                  <span class="sidenav-mini-icon"> -s </span>
                  <span class="sidenav-normal"> -sasb </span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="/dashboard/frameworks/sasb.html#1">
                  <span class="sidenav-mini-icon"> -g </span>
                  <span class="sidenav-normal"> -gri </span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="/dashboard/frameworks/sasb.html#3">
                  <span class="sidenav-mini-icon"> -p </span>
                  <span class="sidenav-normal"> -pri </span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="/dashboard/frameworks/sasb.html#4">
                  <span class="sidenav-mini-icon"> -c </span>
                  <span class="sidenav-normal"> -cdp </span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="/dashboard/frameworks/csdd.html">
                  <span class="sidenav-mini-icon"> -c </span>
                  <span class="sidenav-normal"> -csdd </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
    <!--Regulatory-->
    <section>
      <ul class="nav nav-sm flex-column">
        <li>
          <a
            class="nav-link"
            data-toggle="collapse"
            data-target="#regulatory-nav"
            role="button"
            aria-expanded="false"
          >
            <span class="sidenav-mini-icon"> R </span>
            <span class="sidenav-normal"> Regulatory </span>
          </a>
          <div class="collapse" id="regulatory-nav">
            <ul class="list-unstyled">
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/frameworks/sasb.html#2">
                  <span class="sidenav-mini-icon"> -e </span>
                  <span class="sidenav-normal"> -eu taxonomy </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
   
  </div>
</li>
