<li class="expandable">
    <a
      class="nav-link"
      href="/dashboard/company/metrics.html"
      data-toggle="collapse"
      data-target="#metrics-nav"
      role="button"
      aria-expanded="false"
    >
      <span class="sidenav-mini-icon"> M </span>
      <span class="sidenav-normal"> Metrics </span>
    </a>

    <div class="collapse" id="metrics-nav">
      <ul class="list-unstyled">
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/metrics.html#overview"
          >
            <span class="sidenav-mini-icon"> -o </span>
            <span class="sidenav-normal"> -overview </span>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/metrics.html#metrics"
          >
            <span class="sidenav-mini-icon"> -m </span>
            <span class="sidenav-normal"> -metrics </span>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/metrics.html#gaps"
          >
            <span class="sidenav-mini-icon"> -g </span>
            <span class="sidenav-normal"> -gaps </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
