<li class="expandable">
    <a
      class="nav-link"
      href="#"
      data-toggle="collapse"
      data-target="#risk"
      role="button"
      aria-expanded="false"
    >
      <span class="sidenav-mini-icon"> R </span>
      <span class="sidenav-normal"> Risk Overview </span>
    </a>
    <div class="collapse" id="risk">
      <ul class="list-unstyled">
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/risk-overview.html#risk-overview"
          >
            <span class="sidenav-mini-icon"> -o </span>
            <span class="sidenav-normal"> -overview </span>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/risk-overview.html#risk-items"
          >
            <span class="sidenav-mini-icon"> -b </span>
            <span class="sidenav-normal"> -breakdown </span>
          </a>
        </li>
      </ul>
    </div>
  </li>