<li class="expandable">
    <a
      class="nav-link"
      href="/dashboard/company/risk-overview.html"
      data-toggle="collapse"
      data-target="#risk-nav"
      role="button"
      aria-expanded="false"
    >
      <span class="sidenav-mini-icon"> R </span>
      <span class="sidenav-normal"> Risk Overview </span>
    </a>
    <div class="collapse" id="risk-nav" >
      <ul class="list-unstyled" id="risk-nav-list" >
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/risk-overview.html#risk-summary"
          >
            <span class="sidenav-mini-icon"> -s </span>
            <span class="sidenav-normal"> -summary </span>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/risk-overview.html#risk-overview"
          >
            <span class="sidenav-mini-icon"> -o </span>
            <span class="sidenav-normal"> -overview </span>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            href="/dashboard/company/risk-overview.html#controls"
          >
            <span class="sidenav-mini-icon"> -c </span>
            <span class="sidenav-normal"> -controls </span>
          </a>
        </li>
    
      </ul>
    </div>
  </li>