 <li class="nav-item">
    <a 
    class="nav-link"
    role="button"
    data-toggle="collapse"
    data-target="#supplier-nav"
    aria-expanded="false"
    >
    <i class="ni ni-spaceship text-esg-two"></i>
    <span class="nav-link-text">Supplier Overview</span>
  </a>
  <div class="collapse" id="supplier-nav">
    <ul class="list-unstyled">
      <li>
        <a
          class="nav-link"
          href="/dashboard/supplier_view/supplier_view.html#overview"
        >
          <span class="sidenav-mini-icon"> -o </span>
          <span class="sidenav-normal"> -overview </span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          href="/dashboard/supplier_view/supplier_view.html#supplier-metrics"
        >
          <span class="sidenav-mini-icon"> -m </span>
          <span class="sidenav-normal"> -metrics </span>
        </a>
      </li>
     
    </ul>
  </div>
  </li>
