 <!-- Modal -->
 <div class="modal fade" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
   <div class="modal-content">
     <div class="modal-body">
       <div class="table-responsive">
       <table class="modal-table">
         <thead>
           <tr>
             <th>Area</th>
             <th>Type</th>
             <th>Current status</th>
             <th>Owner</th>
             <th>Business Unit</th>
             <th>Best Practice</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>Does the entity belong to any
               widely-recognised initiatives on
               Rights of Indigenous Peoples?
               If yes, please provide details in
               Findings.
               </td>
             <td>Association </td>
             <td>No</td>
             <td>Pierre</td>
             <td>External relations</td>
             <td>Link</td>
           </tr>
           <tr>
             <td>Does the entity map where the
               impacts from Human Rights
               Assessment occur? If yes,
               please provide more details in
               Findings.</td>
             <td>Process</td>
             <td>No</td>
             <td>Bertha</td>
             <td>Risk Management</td>
             <td>Link</td>
           </tr>
           <tr>
             <td>Does the entity map where the
               impacts from Human Rights
               Assessment occur? If yes,
               please provide more details in
               Findings.
               </td>
             <td>Process</td>
             <td>No</td>
             <td>Junya</td>
             <td>Risk Management</td>
             <td>Link</td>
           </tr>

         </tbody>
       </table>
     </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>