<div class="row" id="card-grid">
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">

        <!--GHG Emissions-->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                GHG Emissions
              </h5>
              <h6 class="text-muted">Scopes 1, 2, 3 (location)</h6>
              <span class="h2 font-weight-bold mb-0"
                >197,504 <span class="h5">(tCO2e)</span></span
              >
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-esg-two text-white rounded-circle shadow"
              >
                <i class="ni ni-delivery-fast"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-nowrap text-success"
              ><i class="fa fa-arrow-up"></i> 3% above target</span
            >
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Green Finance
              </h5>
              <h6 class="text-muted">Provided in 2020</h6>
              <span class="h2 font-weight-bold mb-0"
                >34 billion <span class="h5">(GBP)</span></span
              >
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-esg-three text-white rounded-circle shadow"
              >
                <i class="ni ni-money-coins"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-nowrap text-success"
              ><i class="fa fa-arrow-up"></i> 5% above target</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Management
              </h5>
              <h6 class="text-muted">Woman</h6>
              <span class="h2 font-weight-bold mb-0">26%</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-esg-four text-white rounded-circle shadow"
              >
                <i class="ni ni-badge"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-nowrap text-danger"
              ><i class="fa fa-arrow-down"></i> 10% below target</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Carbon-risk
              </h5>
              <h6 class="text-muted">Credit Exposure (%)</h6>
              <span class="h2 font-weight-bold mb-0">30.69%</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-esg-five text-white rounded-circle shadow"
              >
                <i class="ni ni-world"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
            <span class="text-nowrap text-danger"
              ><i class="fa fa-arrow-down"></i> 5% below target</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
