<div class="header bg-esg-five pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="py-4 row">
        <!-- Search form -->
        @@include('./_search-form.html')

        <div class="col">
          <button
            href="#"
            class="btn btn-sm btn-neutral d-inline-block d-md-none float-right mr-0 mt-2"
            data-toggle="dropdown"
          >
            Edit
          </button>

          <button
            class="btn btn-sm btn-neutral d-none d-md-inline-block float-right mr-0 mt-2"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            id="customise-widgets"
          >
            <span
              data-toggle="tooltip"
              data-placement="top"
              title="Add/Remove widgets from the dashboard"
            >
              Customise Widgets
            </span>
          </button>

          <!--Swap Cards-->
          <button
            class="btn btn-sm btn-neutral d-inline-block float-right mr-md-2 mr-0 mt-2"
            type="button"
            id="swap-cards-btn"
            data-toggle="tooltip"
            data-placement="top"
            title="Customise the placement of widgets on your dashboard by dragging them into positon "
          >
            Swap Widgets
          </button>

          <!--Custom widgets dropdown-->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="px-5" id="checklist-container">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="cards-check"
                  checked
                />
                <label class="form-check-label" for="cards-check"
                  >Company KPIs
                </label>
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="performance-check"
                  checked
                />
                <label class="form-check-label" for="performance-check"
                  >Performance</label
                >
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="readiness-check"
                  checked
                />
                <label class="form-check-label" for="readiness-check"
                  >Readiness</label
                >
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="risks-check"
                  checked
                />
                <label class="form-check-label" for="risks-check"
                  >Performance</label
                >
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="locations-check"
                  checked
                />
                <label class="form-check-label" for="locations-check"
                  >Locations</label
                >
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="todo-check"
                  checked
                />
                <label class="form-check-label" for="todo-check">ToDo</label>
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="team-tasks-check"
                  checked
                />
                <label class="form-check-label" for="team-tasks-check"
                  >Team Tasks</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card Grid -->

    @@include('./_manage-widgets.html')
    <!-- @@include('./_cards.html') -->
    @@include("../partials/cards/container.html")
  </div>
</div>
