<div class="header bg-esg-five pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="py-4 row">
       
        <!-- Search form -->
        <div class="col-lg col-md col-sm ">
          <div class="d-inline-flex">
        <form class="form-inline mr-sm-3 navbar-search navbar-search-light"
          id="navbar-search-main"
        >
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
              <input class="form-control" placeholder="Search" type="text" />
            </div>
          </div>
          <button
            type="button"
            class="close"
            data-action="search-close"
            data-target="#navbar-search-main"
            aria-label="Close"
          >
          </button>
        </form>
        <nav aria-label="breadcrumb" class="d-none d-lg-inline-block">    
          <a href="/dashboard/home.html"
            ><i class="fas fa-home text-white mr-2"></i
            ><span class="text-white">Dashboard</span></a
          >
      </nav>
    </div>
      </div>
        
        <div class="col-lg col-md col-sm">
          <a href="#" class="btn btn-sm btn-neutral d-inline-block d-md-none float-right"
            >Edit</a
          >
          <a
            href="#"
            class="btn btn-sm btn-neutral d-none d-md-inline-block float-right"
            >Customise Widgets</a
          >
        </div>
      </div>
      <!-- Card Grid -->
      @@include('./_cards.html')
    </div>
  </div>
</div>
