<div class="container-fluid">
<div class="row align-items-center justify-content-xl-between">
  <div class="col-xl-6 px-5">
    <div class="copyright text-center text-xl-left text-muted">
      &copy; 2021 <a href="https://esg-one.co" class="font-weight-bold ml-0" rel="follow">Beathamm Ltd</a>. All Rights Reserved.
    </div>
  </div>
  <div class="col-xl-6 px-5 ">
    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
      <li class="nav-item">
        <a href="#" class="nav-link" target="_blank">Beathamm Ltd</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" target="_blank">About Us</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" target="_blank">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" target="_blank">News</a>
      </li>
    </ul>
  </div>
</div>
</div>
