<div class="d-flex flex-row mb-2">
  <!--Swap Cards-->
    <button
      class="btn btn-sm btn-neutral   "
      type="button"
      id="swap-cards-btn"
    >
      Swap Widgets
    </button>
    <!--Manage Cards-->
    <button
      class="btn btn-sm btn-neutral mr-2 ml-0 "
      type="button"
      data-toggle="modal"
      data-target="#manageCardsModal"
      id="manage-cards-btn"
    >
      Manage Cards
    </button>
</div>
<!--Modal-->
<div
  class="modal fade"
  id="manageCardsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mb--4">
        <h5 class="modal-title" id="exampleModalLabel">Manage Cards</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-2">
        <div class="row border-top">
          <div class="col border-right card-manager">
            <h3>Visible</h3>
            <ul class="list-unstyled" id="sortable-1">
              <li class="btn btn-success btn-block">GHG Emissions</li>
              <li class="btn btn-success btn-block">GREEN FINANCE</li>
              <li class="btn btn-success btn-block">MANAGEMENT</li>
              <li class="btn btn-success btn-block">CARBON-RISK</li>
            </ul>
          </div>
          <div class="col card-manager">
            <h3>Available</h3>
            <ul class="list-unstyled" id="sortable-2"></ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          id="save-cards-btn"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
