<!-- Core -->
<script src="@@path_common/vendor/jquery/dist/jquery.min.js"></script>
<script src="@@path/assets/vendor/jquery-sortable/jquery-ui.min.js"></script>
<script src="@@path/assets/vendor/jquery-sortable/jquery.ui.touch-punch.min.js"></script>

<script src="@@path_common/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="@@path_common/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@path/assets/js/vendor/js.cookie/js.cookie.js"></script>
<script src="@@path_common/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="@@path_common/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Preloader -->
<script src="@@path/assets/js/preloader.min.js"></script>
<!-- Chart JS -->

<script src="@@path_common/vendor/chart.js/dist/Chart.min.js"></script>
<script src="@@path/assets/vendor/chart.js/dist/chartjs-plugin-labels.min.js"></script>
<script src="@@path/assets/js/vendor/chart.js/Chart.extension.js"></script>

<!--Print This-->
<script src="/dashboard/assets/js/vendor/printThis.min.js"></script>

<!--UUID-->
<script src="/dashboard/assets/js/vendor/uuid.min.js"></script>

<!-- jquery jvectormap -->
<script src="@@path_common/vendor/jvectormap-next/jquery-jvectormap.min.js"></script>
<script src="@@path/assets/js/vendor/jvectormap/jquery-jvectormap-world-mill.js"></script>
<!-- full calendar + moment -->
<script src="@@path/assets/js/vendor/moment/moment.min.js"></script>
<script src="@@path_common/vendor/fullcalendar/dist/fullcalendar.min.js"></script>
<!-- sweet alert 2 -->
<script src="@@path_common/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<!-- list js -->
<script src="@@path_common/vendor/list.js/dist/list.min.js"></script>
<!-- clipboard js -->
<script src="@@path_common/vendor/clipboard/dist/clipboard.min.js"></script>
<!-- bootstrap notify -->
<script src="@@path_common/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
<!-- Quill -->
<script src="@@path_common/vendor/quill/dist/quill.min.js"></script>
<!-- Dropzone -->
<script src="@@path_common/vendor/dropzone/dist/min/dropzone.min.js"></script>
<!-- Bootstrap tag inputs -->
<script src="@@path_common/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<!-- Select 2 -->
<script src="@@path_common/vendor/select2/dist/js/select2.min.js"></script>
<!-- Bootstrap Datepicker -->
<script src="@@path_common/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap Datetimepicker -->
<script src="@@path_common/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<!-- NoUISlider -->
<script src="@@path_common/vendor/nouislider/distribute/nouislider.min.js"></script>
<!-- Datatables Excel & PDF buttons -->
<script src="@@path_common/vendor/jszip/dist/jszip.min.js"></script>
<script src="@@path_common/vendor/pdfmake/build/pdfmake.min.js"></script>
<script src="@@path_common/vendor/pdfmake/build/vfs_fonts.js"></script>
<!-- Datatables -->
<script src="@@path_common/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="@@path_common/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="@@path_common/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="@@path_common/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="@@path_common/vendor/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="@@path_common/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="@@path_common/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="@@path_common/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="@@path_common/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
<!-- Argon JS -->
<script src="@@path/assets/js/dashboard.min.js"></script>
<script src="@@path/assets/js/tooltip-manager.min.js"></script>
<!-- Google Maps -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script> -->
<!--Search Form-->
<script src="@@path/assets/js/search-form.min.js"></script>
<!--Readiness list-->
<script src="@@path/assets/js/readiness-list.min.js"></script>