<div class="col-5 ">
    <div class="d-inline-flex">
      <!--Form-->
      <form
        class="form-inline mr-sm-3 navbar-search navbar-search-light"
        id="navbar-search-main"
      >
        <div class="form-group mb-0">
          <div
            class="input-group input-group-alternative input-group-merge"
          >
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-search"></i
              ></span>
            </div>
            <input
              class="form-control"
              placeholder="Search"
              type="text"
            />
          </div>
        </div>
        <button
          type="button"
          class="close"
          data-action="search-close"
          data-target="#navbar-search-main"
          aria-label="Close"
        ></button>
      </form>
      <!--Dropdown-->
      <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="suggested-results">
      </div>
      <nav aria-label="breadcrumb" class="d-none d-lg-inline-block">
        <a href="/dashboard/home.html"
          ><i class="fas fa-home text-white mr-2"></i
          ><span class="text-white">Dashboard</span></a
        >
      </nav> -->
    </div>
  </div>