
    <div
    class="col-xl-3 col-md-6 movable-cards "
    id="green-finance-card"
  
  >
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <!--close button-->

        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">
              Green Finance
            </h5>
            <h6 class="text-muted">Provided in 2020</h6>
            <div class="card-numbers">34 billion (GBP)</div>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-esg-three text-white rounded-circle shadow"
            >
              <i class="ni ni-money-coins"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-nowrap text-success"
            ><i class="fa fa-arrow-up"></i> 5% above target</span
          >
        </p>
      </div>
    </div>
  </div>