<div class="movable-cards" id="template-card">
  <!-- Card body -->
  <div class="kpi-card-body">
    <!-- Close button -->
    <div class="kpi-card-section-1">

      <h5 class="kpi-card-title" id="kpi-card-name">Template card</h5>
      <div class="icon icon-shape bg-esg-five text-white rounded-circle shadow kpi-card-icon" id="kpi-card-icon">
        Icon
      </div>
    </div>
    <div class="kpi-card-section-2">
      <h5 class="kpi-card-info" id="kpi-card-info">Info</h5>
      <h5 class="kpi-card-unit" id="kpi-card-unit">Unit</h5>
    </div>

    <h5 class="kpi-card-numbers" id="kpi-card-value">Value</h5>
    <div class="kpi-card-target-info" id="kpi-card-target-info">
      <span class="text-nowrap  " id="target-info">
        <i class="fa fa-arrow-down text-danger"></i>target info
      </span>
    </div>

  </div>

</div>