<div
  class="col movable-cards"
  id="team-tasks"
  data-toggle="tooltip"
  data-placement="top"
  title="Team Tasks"
>
  <div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
      <h3 class="mb-0">Team Tasks</h3>
    </div>
    <!-- Translucent table -->
    <div
      class="table-responsive mb-1"
      data-toggle="list"
      data-list-values='["name", "type", "status", "completion"]'
    >
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="sort" data-sort="name">Task</th>
            <th scope="col" class="sort" data-sort="type">Type</th>
            <th scope="col">Team</th>
            <th scope="col" class="sort" data-sort="status">Status</th>
            <th scope="col" class="sort" data-sort="completion">Completion</th>
          </tr>
        </thead>
        <tbody class="list thome">
          <tr>
            <th scope="row" class="name">German <br />employment data</th>
            <td class="type">Data Request</td>
            <td>
              <div class="avatar-group">
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Tammy Frey"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-3.jpg"
                  />
                </a>
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Steve Hamm"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/profile/steve.jpg"
                  />
                </a>
              </div>
            </td>
            <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-warning"></i>
                <span class="status">pending</span>
              </span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="completion mr-2">60%</span>
                <div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      aria-valuenow="60"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 60%"
                    ></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="name">
              Automate energy <br />bill ingestion
            </th>
            <td class="type">Action</td>
            <td>
              <div class="avatar-group">
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="James Patterson"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-1.jpg"
                  />
                </a>
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Lisa Hendricks"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-2.jpg"
                  />
                </a>
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Tammy Frey"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-3.jpg"
                  />
                </a>
              </div>
            </td>
            <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-success"></i>
                <span class="status">completed</span>
              </span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="completion mr-2">100%</span>
                <div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 100%"
                    ></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="name">SBTI target <br />overhaul</th>
            <td class="type">Action</td>
            <td>
              <div class="avatar-group">
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Tammy Frey"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-3.jpg"
                  />
                </a>
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Steve Hamm"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/profile/steve.jpg"
                  />
                </a>
              </div>
            </td>
            <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-danger"></i>
                <span class="status">delayed</span>
              </span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="completion mr-2">72%</span>
                <div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      aria-valuenow="72"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 72%"
                    ></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="name">Review country <br />targets</th>
            <td class="type">Action</td>
            <td>
              <div class="avatar-group">
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Lisa Hendricks"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-2.jpg"
                  />
                </a>
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Steve Hamm"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/profile/steve.jpg"
                  />
                </a>
              </div>
            </td>
            <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-info"></i>
                <span class="status">on schedule</span>
              </span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="completion mr-2">90%</span>
                <div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 90%"
                    ></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="name">Updated water <br />assessment</th>
            <td class="type">Data Request</td>
            <td>
              <div class="avatar-group">
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="James Patterson"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-1.jpg"
                  />
                </a>
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Lisa Hendricks"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-2.jpg"
                  />
                </a>
                <!-- <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Tammy Frey">
                  <img alt="Image placeholder" src="./assets/img/theme/team-3.jpg">
                </a> -->
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Steve Hamm"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/profile/steve.jpg"
                  />
                </a>
              </div>
            </td>
            <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-success"></i>
                <span class="status">completed</span>
              </span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="completion mr-2">100%</span>
                <div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 100%"
                    ></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="name">Finalise SASB <br />report</th>
            <td class="type">Action</td>
            <td>
              <div class="avatar-group">
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Tammy Frey"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/theme/team-3.jpg"
                  />
                </a>
                <a
                  href="#"
                  class="avatar avatar-sm rounded-circle"
                  data-toggle="tooltip"
                  data-original-title="Steve Hamm"
                >
                  <img
                    alt="Image placeholder"
                    src="./assets/img/profile/steve.jpg"
                  />
                </a>
              </div>
            </td>
            <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-danger"></i>
                <span class="status">delayed</span>
              </span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="completion mr-2">58%</span>
                <div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      aria-valuenow="58"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 58%"
                    ></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
