<div
  class="col-6 movable-cards"
  id="todo"
  data-toggle="tooltip"
  data-placement="top"
  title="Create a personalised to do list to keep on top of
  ESG"
>
  <div class="card card-large">
    <!-- Card header -->
    <div class="card-header">
      <!-- Title -->
      <h5 class="h3 mb-0">Todo List</h5>
    </div>
    <!-- Card body -->
    <div class="card-body p-0  ">
      <!-- List group -->
      <ul
        class="list-group list-group-flush mb-3 overflow-scroll"
        data-toggle="checklist"
        id="todo-list"
      >
     <span id="default-todo" class="text-center mt-4"><h3>Your tasks will be displayed here</h3></span>
     
      </ul>
    </div>
    <div class="card-footer">
      <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#todoModal"
      >
        Add Task
      </button>
      <button
      class="btn btn-secondary"
      id="clear-all-tasks-btn"
    >
      Clear all
    </button>
    </div>
  </div>
</div>

<!--Modal add task-->
<div
  class="modal fade"
  id="todoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="todoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="todoModalLabel">Add Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4"> <h4>Task Content</h4></div>
          <div class="col-8"><span class="d-none"  id="empty-msg-error"><p class="text-danger">*Task content can`t be empty</p></span></div>
        </div>
       
        <div class="form-group">
          <textarea
            class="form-control rounded-0"
            id="todoText"
            rows="3"
            maxlength="100"
            style="resize: none"
          ></textarea>
        </div>

        <div class="dropdown">
          <h4>Framework</h4>
          <select name="Frameworks" id="frameworks-val" class="form-select">
            <option value="GRI">GRI</option>
            <option value="SASB">SASB</option>
            <option value="EU Taxonomy">EU Taxonomy</option>
            <option value="PRI">PRI</option>
            <option value="CDP">CDP</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="submit-todo-btn"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
