
<div class="col" id="todo">
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
        <!-- Title -->
        <h5 class="h3 mb-0">Todo List</h5>
      </div>
      <!-- Card body -->
      <div class="card-body p-0">
        <!-- List group -->
        <ul
          class="list-group list-group-flush mb-3"
          data-toggle="checklist"
        >
          <li
            class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
            <div class="checklist-item checklist-item-esg-three">
              <div class="checklist-info">
                <h5 class="checklist-title mb-0">
                  Prepare new Risk Report for Germany
                </h5>
                <small>SASB</small>
              </div>
              <div>
                <div
                  class="custom-control custom-checkbox custom-checkbox-esg-three"
                >
                  <input
                    class="custom-control-input"
                    id="chk-todo-task-2"
                    type="checkbox"
                  />
                  <label
                    class="custom-control-label"
                    for="chk-todo-task-2"
                  ></label>
                </div>
              </div>
            </div>
          </li>
          <li
            class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
            <div class="checklist-item checklist-item-esg-five">
              <div class="checklist-info">
                <h5 class="checklist-title mb-0">
                  Complete Risk Assessment #17
                </h5>
                <small>GRI</small>
              </div>
              <div>
                <div
                  class="custom-control custom-checkbox custom-checkbox-esg-five"
                >
                  <input
                    class="custom-control-input"
                    id="chk-todo-task-3"
                    type="checkbox"
                  />
                  <label
                    class="custom-control-label"
                    for="chk-todo-task-3"
                  ></label>
                </div>
              </div>
            </div>
          </li>
          <li
            class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
            <div class="checklist-item checklist-item-esg-five">
              <div class="checklist-info">
                <h5 class="checklist-title mb-0">
                  Upload Water Usage docs for Risk #19
                </h5>
                <small>GRI</small>
              </div>
              <div>
                <div
                  class="custom-control custom-checkbox custom-checkbox-esg-five"
                >
                  <input
                    class="custom-control-input"
                    id="chk-todo-task-1"
                    type="checkbox"
                    checked
                  />
                  <label
                    class="custom-control-label"
                    for="chk-todo-task-1"
                  ></label>
                </div>
              </div>
            </div>
          </li>
          <li
            class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
            <div class="checklist-item checklist-item-esg-three">
              <div class="checklist-info">
                <h5 class="checklist-title mb-0">
                  Upload Anti Competitive reports for 2020
                </h5>
                <small>SASB</small>
              </div>
              <div>
                <div
                  class="custom-control custom-checkbox custom-checkbox-esg-three"
                >
                  <input
                    class="custom-control-input"
                    id="chk-todo-task-4"
                    type="checkbox"
                    checked
                  />
                  <label
                    class="custom-control-label"
                    for="chk-todo-task-4"
                  ></label>
                </div>
              </div>
            </div>
          </li>
          <li
            class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
            <div class="checklist-item checklist-item-esg-esg-three">
              <div class="checklist-info">
                <h5 class="checklist-title mb-0">
                  Create Risk Report for GHG Emissions
                </h5>
                <small>SASB</small>
              </div>
              <div>
                <div
                  class="custom-control custom-checkbox custom-checkbox-esg-three"
                >
                  <input
                    class="custom-control-input"
                    id="chk-todo-task-5"
                    type="checkbox"
                    checked
                  />
                  <label
                    class="custom-control-label"
                    for="chk-todo-task-5"
                  ></label>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
