<!--Treemap-->
<div
  class="col-xl-6 movable-cards"
  id="_treemap"
 
>
  <div class="card card-large">
    <div class="card-header bg-transparent">
      <div class="row align-items-center"  data-toggle="tooltip"
      data-placement="top"
      title="The percentages represent the % of metrics for
      which the company has reported data and the size
      of the boxes represent the relative number of data
      points for each category. ">
        <div class="col">
          <h5 class="h3 mb-0">ESG Management</h5>
        </div>
        <div class="col text-right">
          <!-- <a href="/dashboard/company/esg-readiness.html" class="btn btn-sm btn-primary">View Detail</a> -->
          <a
            href="/dashboard/company/disclosure.html#gaps"
            class="btn btn-sm btn-primary"
            data-toggle="tooltip"
            data-placement="top"
            title="Explore the assessment in more detail including gaps "
            >Gap Analysis </a
          >
        </div>
        <div class="row">
          <div class="col"><button class="btn btn-secondary btn-sm" id="expand-treemap-btn">Resize</button></div>
        </div>
      </div>
    </div>
    <div id="card" class="card-body p-0">
      <p id="chart"></p>
      <div class="treemap-container">
        <div id="domainDrillDown"  data-toggle="tooltip"
        data-placement="top"
        title='Click to return to the previous view of the graph'></div>

      </div>

    </div>
  </div>
</div>
