<div class="col-xl-8" id="treemap">
    <div class="card">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">
              Performance
            </h6>
            <h5 class="h3 mb-0">ESG Readiness</h5>
          </div>
          <div class="col text-right">
            <!-- <a href="/dashboard/company/esg-readiness.html" class="btn btn-sm btn-primary">View Detail</a> -->
            <a
              href="/dashboard/company/disclosure-reporting.html"
              class="btn btn-sm btn-primary"
              >Disclosure Report</a
            >
          </div>
        </div>
      </div>
      <div id="card" class="card-body p-0">
        <p id="chart"></p>
        <div id="domainDrillDown"></div>
      </div>
    </div>
  </div>