<div
  class="d-flex mt-1 ml-md-5 ml-0 justify-content-center justify-content-md-start"
>
  <ul class="list-unstyled d-inline mb-0">
    <li class="list-inline-item">
      <button
        class="btn btn-sm button-nav btn-block"
        type="button"
        id="analytics-metrics-btn"
      
      >
        Metrics
      </button>
    </li>
    <li class="list-inline-item">
      <button
        class="btn btn-sm button-nav btn-block"
        type="button"
        id="analytics-risks-btn"
       
      >
        Risks
      </button>
    </li>
    <li class="list-inline-item">
      <button
        class="btn btn-sm button-nav btn-block"
        type="button"
        id="analytics-capability-btn"
       
      >
        Capability
      </button>
    </li>
    <li class="list-inline-item">
        <button
          class="btn btn-sm button-nav btn-block"
          type="button"
          id="analytics-controls-btn"
         
        >
          Controls
        </button>
      </li>
 
  </ul>
</div>
