<div id="cards-grid2" class="col-12 movable-cards">
  <div id="cardCarouselControls2" class="carousel slide" data-toggle="tooltip" data-placement="top"
    title="Company-wide performance against ESG KPIs">

    <div id="cards-grid">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row" id="material-metrics-sort-cards-1">
            @@include("../partials/cards/material_metrics/_water-intensity-card.html")
            @@include("../partials/cards/material_metrics/_days-work-stoppage-card.html")
            @@include("../partials/cards/material_metrics/_major-incidents-card.html")
            @@include("../partials/cards/material_metrics/_restored-hectares-card.html")
          </div>
        </div>
        <div class="carousel-item">
          <div class="row" id="material-metrics-sort-cards-2">
            @@include("../partials/cards/material_metrics/_water-intensity-card.html")
            @@include("../partials/cards/material_metrics/_days-work-stoppage-card.html")
            @@include("../partials/cards/material_metrics/_major-incidents-card.html")
            @@include("../partials/cards/material_metrics/_restored-hectares-card.html")
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#cardCarouselControls2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#cardCarouselControls2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>