//
// Datatables
//

.dataTables_length .form-control {
  margin: 0;
}

.dataTables_filter {
  position: absolute;
  right: 0px;
  top: 93px;

  @media screen and (max-width: 610px) {
    top: 0;
    right: 0;
    position: relative;
  }
}

.locations-table .dataTables_filter{
  position: relative;

  top:63px;
  
}

.dataTables_wrapper {
  @media screen and (max-width: 611px) {
    select,
    input {
      height: 80%;
      
    }

    label,select,input {
      font-size: small;
    }

     th.sorting {
      font-size: xx-small;
    }

    a {
      font-weight: bold;
    }
  }
}

.dt-buttons.btn-group.flex-wrap {
  margin-bottom: 10px;
  @media screen and (max-width: 610px) {
    display: none;
  }
}

.dataTables_paginate {
  margin: 1rem 0 0 1rem;
}

.dataTables_filter {
  margin-bottom: 0.5rem;
}

.dt-buttons.btn-group.flex-wrap {
  margin-top: 1.5rem;
}

// Datatable Columns
.dt-button-collection .dropdown-menu {
  display: block;
}

.dt-button-collection .dropdown-menu a:hover {
  background: #fafafa;
}

//
// Fake the selected/unselected items from the datatables column dropdown.
//
a.dt-button.dropdown-item.buttons-columnVisibility span {
  padding-left: 1rem;
  position: relative;
  top: -6px;
}

a.dt-button.dropdown-item.buttons-columnVisibility.active::before {
  content: url('/dashboard/assets/img/icons/forms/check.png');
}

a.dt-button.dropdown-item.buttons-columnVisibility::before {
  content: url('/dashboard/assets/img/icons/forms/uncheck.png');
}
