.glossary-table{

    font-size: 0.8rem;

    margin: 5px;
    thead{
   
        background-color: rgb(0, 123, 238);
        color: white;
        th{
            padding-left: 5px;
        }
        
    }

    tbody{
        td{

            padding: 5px;
        }

    }

    tr:nth-child(even) {background: rgb(185, 218, 255)}
    
    
}