.metrics-card {
  p {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .card-header {
    color: rgb(0, 0, 0);
    background-color: rgb(218, 218, 218);

    h3 {
      color: rgb(0, 0, 0);
    }
  }

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1rem;
    }

    h4,
    h5 {
      font-size: 0.9rem;
      font-weight: bold;
    }

    button {
      font-size: 0.8rem;
      padding: 7px;
    }
  }

  @media screen and (max-width: 581px) {
    h3 {
      font-size: 0.8rem;
    }

    h5,
    h4 {
      font-size: 0.8rem;
    }

    p {
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
}

.esg-categories-list {
  ul {
    margin-left: 0;
  }

  li {
    display: inline;
    list-style: none;
  }

  button {
    border-radius: 5px;
    font-size: 0.8rem;
  }
  @media screen and (max-width: 768px) {
    li {
      display: block;
    }

    button {
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }
  }
}

.graph-and-stats canvas {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(205, 204, 204);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 5px;
}
