//
// Bespoke Overrides for ESG.
//
.profile-icon-shape {
  padding: 0;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.flags {
  width: 32px;
  height: auto;
}

// Change the width of the progress bars on the homepage table.
.thome .progress {
  width: 50px !important;
}

//Cards
.card-large{
  min-height: 570px;
}

//Data Tables search form and buttons

.dataTables_filter{
  position: absolute;
  right: 0px;
  top: 93px;

  @media screen and (max-width:610px) {
    top: 0;
    right: 0;
    position: relative;
  }

}

.dt-buttons.btn-group.flex-wrap{
  margin-bottom: 10px;
  @media screen and (max-width:610px) {
    display: none;
  }

}

//Buttons on nav

.button-nav {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(27, 162, 193);
  color: white;

  &:hover {
    background-color: rgb(24, 140, 166);
    color: rgb(218, 227, 235);
  }
}

.button-nav-active {
  background-color: rgb(16, 89, 105);
  color: white;
}

.btn-datatable{
  background-color: rgb(4, 63, 173);
  color: aliceblue;
  border: 1px solid rgb(4, 43, 173);
}

.carousel-control-prev {
  left: -20px;
  width: 25px;
  top: -25px;
}

.carousel-control-next {
  width: 25px;
  right: -20px;
  top: -25px;
}

.list-group-flush-scrollable {
  height: 440px;
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and(max-width: 768px) {
  .copyright {
    font-size: 0.7rem;
  }
}

@media screen and(max-width: 465px) {
  .btn-sm {
    font-size: 10px;
  }
}

@media screen and(max-width: 425px) {
  .btn-sm {
    font-size: 8px;
  }
  table tr {
    font-size: 3px;
  }
}
