<div class="col-xl-4">
    <!-- Vector map -->
    <div class="card widget-calendar">
      <!-- Card header -->
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <!-- Title -->
            <h5 class="h3 mb-0">Company Locations</h5>
          </div>
          <div class="col-4 text-right">
            <a href="#!" class="btn btn-sm btn-neutral">View All</a>
          </div>
        </div>
      </div>
      <!-- Card body -->
      <div class="card-body">
        <!-- Vector map -->
        <div
          class="vector-map vector-map-sm"
          data-toggle="vectormap"
          data-map="world_mill"
        ></div>
        <!-- List group -->
        <ul class="list-group list-group-flush list my--3">
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-auto">
                <!-- Country flag -->
                <img
                  class="flags"
                  src="./assets/img/icons/flags/US.png"
                  alt="United States"
                />
              </div>
              <div class="col">
                <small>Country</small>
                <h5 class="mb-0">United States</h5>
              </div>
              <div class="col">
                <small>Branches</small>
                <h5 class="mb-0">200</h5>
              </div>
              <div class="col">
                <small>Perform. vs Mean</small>
                <h5 class="mb-0 text-danger">23%</h5>
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-auto">
                <!-- Country flag -->
                <img
                  class="flags"
                  src="./assets/img/icons/flags/IN.png"
                  alt="India"
                />
              </div>
              <div class="col">
                <small>Country</small>
                <h5 class="mb-0">India</h5>
              </div>
              <div class="col">
                <small>Branches</small>
                <h5 class="mb-0">150</h5>
              </div>
              <div class="col">
                <small>Perform. vs Mean</small>
                <h5 class="mb-0 text-success">18%</h5>
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-auto">
                <!-- Country flag -->
                <img
                  class="flags"
                  src="./assets/img/icons/flags/GB.png"
                  alt="United Kingdom"
                />
              </div>
              <div class="col">
                <small>Country</small>
                <h5 class="mb-0">United Kingdom</h5>
              </div>
              <div class="col">
                <small>Branches</small>
                <h5 class="mb-0">1,600</h5>
              </div>
              <div class="col">
                <small>Perform. vs Mean</small>
                <h5 class="mb-0 text-success">3%</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>