<div class="col-xl-8">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Risks</h3>
          </div>
          <div class="col text-right">
            <a
              href="/dashboard/company/risk-overview.html"
              class="btn btn-sm btn-primary"
              >Risk Overview</a
            >
          </div>
        </div>
      </div>
      <div
        class="table-responsive active mb-3 pb-1"
        data-toggle="list"
        data-list-values='["name", "metric", "control", "score", "target", "gap"]'
      >
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Risk</th>
              <th scope="col" class="sort" data-sort="metric">
                Metric(s)
              </th>
              <th scope="col" class="sort" data-sort="control">
                Control
              </th>
              <th scope="col">Responsible</th>
              <th scope="col" class="sort" data-sort="score">Score</th>
              <th scope="col" class="sort" data-sort="target">
                Target
              </th>
              <th scope="col" class="sort" data-sort="gap">Gap</th>
            </tr>
          </thead>
          <tbody class="list">
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    href="#"
                    class="avatar bg-esg-eight rounded-circle mr-3"
                  >
                    <i class="ni ni-bell-55"></i>
                  </a>
                  <div class="media-body">
                    <span class="name mb-0 text-sm"
                      >Missed CO2 target</span
                    >
                  </div>
                </div>
              </th>
              <td class="metric">GHG emissions</td>
              <td>
                <span class="badge badge-lg badge-info">7</span>
              </td>
              <td>
                <div class="avatar-group">
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Tammy Frey"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-3.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Steve Hamm"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/profile/steve.jpg"
                    />
                  </a>
                </div>
              </td>
              <td class="score">12</td>
              <td class="target">3</td>
              <td class="gap text-danger">-9</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    href="#"
                    class="avatar bg-esg-eight rounded-circle mr-3"
                  >
                    <i class="ni ni-bell-55"></i>
                  </a>
                  <div class="media-body">
                    <span class="name mb-0 text-sm"
                      >Anti-competitive <br />legal proceedings</span
                    >
                  </div>
                </div>
              </th>
              <td class="metric">
                Legal actions for anti-competitive <br />behavior,
                anti-trust, and monopoly <br />practices
              </td>
              <td>
                <span class="badge badge-lg badge-danger">N/A</span>
              </td>
              <td>
                <div class="avatar-group">
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="James Patterson"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-1.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Lisa Hendricks"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-2.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Tammy Frey"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-3.jpg"
                    />
                  </a>
                </div>
              </td>
              <td class="score">6</td>
              <td class="target">6</td>
              <td class="gap text-success">0</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    href="#"
                    class="avatar bg-esg-eight rounded-circle mr-3"
                  >
                    <i class="ni ni-bell-55"></i>
                  </a>
                  <div class="media-body">
                    <span class="name mb-0 text-sm"
                      >EU taxonomy for <br />credit portfolio is not
                      <br />delivered in time</span
                    >
                  </div>
                </div>
              </th>
              <td class="metric">N/A</td>
              <td>
                <span class="badge badge-lg badge-danger">N/A</span>
              </td>
              <td>
                <div class="avatar-group">
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Tammy Frey"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-3.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Steve Hamm"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/profile/steve.jpg"
                    />
                  </a>
                </div>
              </td>
              <td class="score">3</td>
              <td class="target">3</td>
              <td class="gap text-success">0</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    href="#"
                    class="avatar bg-esg-eight rounded-circle mr-3"
                  >
                    <i class="ni ni-bell-55"></i>
                  </a>
                  <div class="media-body">
                    <span class="name mb-0 text-sm"
                      >CO2 target setting <br />not seen as
                      credible</span
                    >
                  </div>
                </div>
              </th>
              <td class="metric">
                GHG emissions<br />
                Systemic risk management
              </td>
              <td>
                <span class="badge badge-lg badge-info">7</span>
                <span class="badge badge-lg badge-primary">4</span>
              </td>
              <td>
                <div class="avatar-group">
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Lisa Hendricks"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-2.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Steve Hamm"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/profile/steve.jpg"
                    />
                  </a>
                </div>
              </td>
              <td class="score">16</td>
              <td class="target">4</td>
              <td class="gap text-danger">-12</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    href="#"
                    class="avatar bg-esg-eight rounded-circle mr-3"
                  >
                    <i class="ni ni-bell-55"></i>
                  </a>
                  <div class="media-body">
                    <span class="name mb-0 text-sm"
                      >Embodied carbon <br />added to footprint</span
                    >
                  </div>
                </div>
              </th>
              <td class="metric">GHG emissions</td>
              <td>
                <span class="badge badge-lg badge-info">7</span>
              </td>
              <td>
                <div class="avatar-group">
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="James Patterson"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-1.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Tammy Frey"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-3.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Steve Hamm"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/profile/steve.jpg"
                    />
                  </a>
                </div>
              </td>
              <td class="score">16</td>
              <td class="target">12</td>
              <td class="gap text-success">4</td>
            </tr>
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <a
                    href="#"
                    class="avatar bg-esg-eight rounded-circle mr-3"
                  >
                    <i class="ni ni-bell-55"></i>
                  </a>
                  <div class="media-body">
                    <span class="name mb-0 text-sm"
                      >Customer privacy breach</span
                    >
                  </div>
                </div>
              </th>
              <td class="metric">
                (1) Number of data breaches<br />
                (2) percentage involving personally <br />
                identifiable information (PII)<br />
                (3) number of account holders affected
              </td>
              <td>
                <span class="badge badge-lg badge-dark">12</span>
              </td>
              <td>
                <div class="avatar-group">
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Tammy Frey"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/theme/team-3.jpg"
                    />
                  </a>
                  <a
                    href="#"
                    class="avatar avatar-sm rounded-circle"
                    data-toggle="tooltip"
                    data-original-title="Steve Hamm"
                  >
                    <img
                      alt="Image placeholder"
                      src="./assets/img/profile/steve.jpg"
                    />
                  </a>
                </div>
              </td>
              <td class="score">16</td>
              <td class="target">4</td>
              <td class="gap text-danger">-12</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>