    <footer id="contact-us" class="footer section py-5 @@classes">
      <div class="container">
        <h2 class="display-2 mt-5 mb-3 text-white text-center">Get in touch!</h2>
        <p class="text-center text-white mb-5">To find out more, request a demo or talk through your ESG challenges, get in touch at:</p>
        <div class="row">
          <!-- Contact Details -->
          <div class="col-12 col-sm-6 col-lg-3 offset-lg-3 mb-5 mb-md-0 pr-lg-5 text-center">
            <span class="left-5 icon icon-xl text-white mb-2 mr-4"><i class="icons icons-contact"></i></span>
            <p class="right-6 features px-0 px-sm-4 px-lg-0"><a href="tel:+447771937691">+44 (0) 777 193 7691</a><br><a href="mailto:info@esg-one.co?subject=Website Contact">info@esg-one.co</a></p>
          </div>
          <!-- Address -->
          <div class="col-12 col-sm-6 col-lg-3 offset-lg-n3 mt-3 mt-sm-5 mt-md-0 pl-lg-5 mb-3 mb-sm-auto text-center">
            <span class="left-5 icon icon-xl text-white mb-2 mr-4"><i class="icons icons-location"></i></span>
            <p class="right-6 features px-0 px-sm-4 px-lg-0"><a href="https://goo.gl/maps/12H8wpnZ3ZEAEx7n6" target="_blank">101 Woodsford Square,<br>London, W14 8DT</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Copyright -->
    <div class="container">
      <div class="row bg-white text-dark">
        <div class="col-12 pb-4 pt-4 text-center text-md-left">
          <p class="small text-uppercase text-dark mb-0 float-md-left">Copyright &copy; <span class="current-year"></span> <a href="https://esg-one.co" rel="follow">Beathamm Ltd 13056551</a>.
          </p>
          <p class="float-md-right mt-3 mt-sm-0">
            <a href="https://www.linkedin.com/company/esg-one" target="_blank" rel="nofollow">
              <span>
                <i class="icons icon-contact icons-linkedin text-esg-eight"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
