<head>
  <title>@@title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="esg:one is a bespoke ESG reporting tool aimed at the C-Suite.">
  <meta name="title" content="@@title">
  <link type="text/plain" rel="author" href="/humans.txt" />
  <!-- Canonical SEO -->
  <link rel="canonical" href="@@canonical">
  <!-- Favicons -->
@@include('./_favicons.html')
  <!-- Schema.org markup -->
  <meta itemprop="name" content="@@title">
  <meta itemprop="description" content="esg:one is a bespoke ESG reporting tool aimed at the C-Suite.">
  <meta itemprop="image" content="@@path/assets/img/theme/landing-dashboard.jpg">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@esgone">
  <meta name="twitter:title" content="@@title">
  <meta name="twitter:description" content="esg:one is a bespoke ESG reporting tool aimed at the C-Suite.">
  <meta name="twitter:creator" content="@esgone">
  <meta name="twitter:image" content="@@path/assets/img/theme/landing-dashboard.jpg">
  <!-- Open Graph data -->
  <meta property="fb:app_id" content="00000000000000">
  <meta property="og:title" content="@@title">
  <meta property="og:type" content="article">
  <meta property="og:url" content="@@canonical">
  <meta property="og:image" content="@@path/assets/img/theme/landing-dashboard.jpg">
  <meta property="og:description" content="esg:one is a bespoke ESG reporting tool aimed at the C-Suite.">
  <meta property="og:site_name" content="esg:one">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="@@path_common/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Nucleo icons -->
  <link rel="stylesheet" href="@@path_common/dashboard/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <!-- Prism -->
  <link rel="stylesheet" href="@@path_common/vendor/prismjs/themes/prism.css" type="text/css">
  <!-- Website CSS -->
  <link rel="stylesheet" href="@@path/css/front.css" type="text/css">
  <!-- Tracking Code - Head -->
  @@include('./_tracking-head.html')
</head>
