<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 @@classes">
    <div class="container pl-4">
      <a class="navbar-brand @@logo_classes" href="@@path_common/">
        <img class="navbar-brand-dark common" src="@@path/assets/img/brand/esg_light.svg" height="30" alt="esg:one logo">
        <img class="navbar-brand-light common" src="@@path/assets/img/brand/esg_dark.svg" height="30" alt="esg:one logo">
      </a>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="@@path_common/">
                <img src="@@path/assets/img/brand/esg_dark.svg" height="30" alt="esg:one logo">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover justify-content-center ml-auto">
          <li class="nav-item text-uppercase">
            <a href="#our-approach" class="nav-link">Our Approach</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="#our-team" class="nav-link">Our Team</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="#contact-us" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item text-uppercase">
            <a href="dashboard" class="nav-link">Dashboard</a>
          </li>
        </ul>
      </div>
      <div class="d-flex d-lg-none align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      </div>
    </div>
  </nav>
</header>
